<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

<!-- 로그인 -->
<select id="login" parameterType="yogo.member.dto.MemberVO" resultType="yogo.member.dto.MemberVO"> 
	SELECT 	*
	FROM 	tb_member
	WHERE 	mem_id=#{mem_id} AND mem_pass=#{mem_pass}
</select>

<!-- 아이디 중복확인 -->
<select id="idCheck" parameterType="String" resultType="String"> 
	SELECT count(*)
	FROM tb_member
	WHERE mem_id = #{mem_id}
</select>

<!-- 닉네임 중복확인 -->
<select id="nickCheck" parameterType="String" resultType="String"> 
	SELECT count(*)
	FROM tb_member
	WHERE mem_nick = #{mem_nick}
</select>

<!-- 회원가입 -->
<insert id="insert" parameterType="yogo.member.dto.MemberVO">
	INSERT INTO tb_member 
	VALUES ( #{mem_id}, #{mem_nick}, #{mem_pass}, #{mem_name}, #{mem_call}, #{mem_state} , 500, 'aa' )
</insert>

<!-- 아이디/비번체크 -->
<select id="loginCheck" parameterType="hashmap" resultType="String">
	SELECT count(*) cnt
	FROM tb_member
	WHERE mem_id= #{mem_id}
	AND mem_pass= #{mem_pass}
</select>

<!-- 시퀀스 값 가져오기 -->
<select id="selectSeq" resultType="String">
	SELECT truck_seq.nextval as truck_seq FROM dual
</select>

<!-- 사업자 회원가입 -->
<insert id="truckInsert" parameterType="yogo.member.dto.MemberVO">
	INSERT INTO tb_truck 
	VALUES ( #{truck_num}, #{mem_id}, #{truck_name}, 
				 'aa', 'bb', #{truck_catestate} , 
				 sysdate, #{truck_addr} , #{car_number} )
</insert>

</mapper>