<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="userGuide.css">
    <title>서비스 이용방법</title>
</head>

<body>
    <div class="container">
        <div class="inner">
    <div class="page-header">
		<h1 id="guideTitle">서비스 이용방법</h1>
	</div>
	<div id="timeline"><div class="row timeline-movement timeline-movement-top">
    
</div>
<div class="row timeline-movement">
    <div class="timeline-badge">
        <span class="timeline-balloon-date-day"></span>
        <span class="timeline-balloon-date-month"></span>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">푸드 서비스</span></li>
                        <li><span class="causale">식자재 / 용기 공급</span></li>
                        <!--<li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->
</div>

<!--due -->

<div class="row timeline-movement">
    <div class="timeline-badge">
        <span class="timeline-balloon-date-day"></span>
        <span class="timeline-balloon-date-month"></span>
    </div>

    <div class="col-sm-offset-6 col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">마케팅 서비스</span></li>
                        <li><span class="causale">SNS마케팅 명함/배너 등 브랜드 홍보 차량 외부광고 인터넷 방송 출연</span> </li>
                        <!--<li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>-->


</div>
<div class="row timeline-movement">
    <div class="timeline-badge">
        <span class="timeline-balloon-date-day"></span>
        <span class="timeline-balloon-date-month"></span>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo"></span>제휴 서비스</li>
                        <li><span class="causale">비즈니스 센터 세스코 인증 배달서비스 스마트 오더 지방 출장 지원 세무대리</span></li>
                        <!--<li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->
</div>
</div>
</div>
</body>
</html>