/*-- gallery --*/
.w3_tab_img_left {
	padding:0;
}
.agile-gallery-info{
    padding: 1em;
    background: #ffffff;
}
.agile-gallery-info h5{
    color: #000000;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
}
.agile-gallery-info p{
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: .5em 0 0 0;
}
.agile-gallery-info{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.w3_tab_img_left:hover .agile-gallery-info{
	background: #FF6E57;
	color:#FFFFFF;
}
.w3_tab_img_left:hover .agile-gallery-info p{
	color:#FFFFFF;
}
/*-- //gallery --*/
/*commen css=============*/
.btn{
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius:0px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-1 {
    border: 3px solid #fff;
    color: #fff;    border: 1px solid #000;
}
.btn-2{
	border: 1px solid #428bca;
}
.btn-3{
	border: 1px solid #b92c28;
}
/*BUTTON 1a css=============*/

.btn-1a{
	 color: #000;
    background: #fff;
    margin: 0px;
}

.btn-1a:hover, .btn-1a:active {
    color: #fff;
    background: #000;
}

.festiImg{
	height : 250px;
	width : 300px;
}
