#menu-toggle {
    top: 240px;
    right: 0;
    position: fixed;
  }
  
  #menu-close {
  	top: 240px;
    right: 0;
    position: fixed;
    display: none;
  }

  .toggle {
    margin: 5px 5px 0 0;
  }
  
  .filter {
  	top: 245px;
    right: -880px;
    position: fixed;
    display: none;
  }