<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>자유게시판</title>
</head>

<body>
    <div class="container">
  <h2>자유게시판</h2>
  <!--<p>The .table-striped class adds zebra-stripes to a table:</p>            -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>게시날짜</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</a></th>
        <th><a href="">게시글입니다</a></th>
        <th><a href="">관리자</a></th>
        <th>2017 / 06 / 16</th>
      </tr>
      <tr>
        <th>2</a></th>
        <th><a href="">게시글입니다</a></th>
        <th><a href="">관리자</a></th>
        <th>2017 / 06 / 16</th>
      </tr>
      <tr>
        <th>3</a></th>
        <th><a href="">게시글입니다</a></th>
        <th><a href="">관리자</a></th>
        <th>2017 / 06 / 16</th>
      </tr>
    </tbody>
  </table>
  <div class="writeBtn">글쓰기</div>
</div>

</body>
</html>