a{
   text-decoration: none;
}

.container{
    margin: 50px auto;
    height: 500 px;
}

.writeBtn{
    display: inline-block;
    float: right;
    padding: 10px;
    border: 1px solid black;
}

.pageNum{
    display: inline-block;
}